<nav id="nav" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#/home" style="float:left; font-size:5vmin;">
      <img src="https://www.ers.com/assets/img/news/_fullWidthImage/ERS-logo.png" width="60px"  alt=" ERS logo">
      <h1 class="h3 mb-3 font-weight-normal"style="display: inline;">Expense Reimbursement System</h1>
    </a>
    <div>
    <button id="menu" class="btn btn-primary" routerLink="/employee-view" >Menu</button>
    <button id="log-out" class="btn btn-primary" (click)="logOut()" >Log out</button>
  </div>
  </nav>


<!-- <li ngbDropdown class="d-inline-block">
    <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" routerLink="/login">Log in</button>
      <button class="dropdown-item" routerLink="/requests">Requests</button>
    </div>
  </li> -->