<div class="jumbotron">
  <img src="https://www.ers.com/assets/img/news/_fullWidthImage/ERS-logo.png" width="50px" alt=" ERS logo">
  <h1 class="display-4">Welcome to ERS</h1>
  <p class="lead" style="color:darkred">An expense reimbursement system like no other</p>
  <hr class="my-4">
  <p>It was built using the latest web technologies in order to provide our users with a great experience.
    <br> Log in to get started
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Log in</a>
  </p>
</div>